.common-header-main-wrapper {
    box-shadow: 1px 2px 8px 1px #e7e6e6;
    padding: 15px 0;
    background: #fbfcff;
    width: 100%;
    margin: 0 auto;

    .common-header-wrapper {
        display: flex;
        align-items: flex-end;
        margin: 0 20px;

        .lhs-wrapper {
            flex: 0;

            .demo-logo {
                width: 145px;
                height: 35px;
                cursor: pointer;
                padding: 5px 0;
                background: #9195F6;
                min-width: 120px;
                border-radius: 5px;
                margin-inline-end: 24px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                text-align: center;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;

                .anticon {
                    font-size: 25px;
                    width: 100%;

                    svg {
                        flex: 1;
                    }
                }
            }

        }

        .rhs-wrapper {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            .post-login-wrapper {
                flex: 0 0 55%;

                .head-icon svg {
                    font-size: 21px;
                }
            }

            .right-hand-login {
                display: flex;

                .already-mem-wrapper {
                    color: rgb(0, 0, 0);
                    font-weight: 700;
                    padding-right: 10px;
                    font-size: 14px;
                    padding-top: 8px;
                    letter-spacing: 0.7px;
                }

                .login-wrapper {

                    .btn-login {
                        background: transparent;
                        color: rgb(255, 153, 2);
                        text-decoration: none;
                        padding: 7px 26px;
                        border-radius: 7px;
                        font-size: 11px;
                        font-weight: 900;
                        border: 1px solid rgb(255, 153, 2);
                        letter-spacing: 0.7px;
                        display: inline-block;
                        margin-right: 10px;
                        position: relative;
                    }
                }

                .help-wrapper {
                    font-size: 14px;
                    color: #1f1f1f;
                    padding-left: 5px;
                    padding-right: 5px;

                    .question-ico {
                        font-size: 21px;
                        color: rgb(0, 136, 204);
                        margin: 5px 8px;
                    }
                }
            }
        }

    }
}